.header {
    position: fixed;
    width: 100%;

}

@import url(http://fonts.googleapis.com/css?family=Roboto: 100, 300, 400, 500, 700, 900);
/** Roboto font family import **/

.header div { /** .header sets background for everything inside class| .header div references specifically div in class **/
    display: inline-block;
    font-size: 13px;
    font-family: 'Roboto', sans-serif, Arial;
    color: rgba(0,0,0,0.87);
    line-height: 24px;
}

span:hover {
    text-decoration: underline;
}

.header .left {
    float: left;
    margin-left: 15px;
}

.header .right {
    float: right;
    margin-right: 15px;

}

#navbar 
{
    text-align: center;
    margin: auto; 
    

}

#navbar input
{
    width: 50%;
    height: 50px;
    font-size: 20pt;
    border-radius: 25px;
    padding-left: 3.5%;

    background-image: url(../images/magnifying.png);
    background-repeat: no-repeat;
    background-size: 3%;
    background-position: 2% 50%;
    background-origin: padding-box;
}


#logo
{
    width: 25%;
    display: block;
    margin: auto auto;
    padding-top: 10%;

}

#topbar
{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

