#navbar 
{
    text-align: center;
    position: relative;
    margin: auto;

    

}

#navbar input
{
    width: 50%;
    height: 50px;
    font-size: 20pt;
}


#logo
{
    width: 40%;
    display: block;
    margin: auto auto;
    padding-top: 10%;

}

